<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>FE Moldark</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  <!-- background="/assets/final_bg2.png"--->
  <!--<style>
    p {
		background-image: url('/assets/final_bg2.png');
    }
  </style>--->
  </head>

  <body>

    <header>
      <style>
        body {
        }
      </style>
      
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>FE Moldark</h1> <!--{{ site.title | default: site.github.repository_name }}--->
        </a>
        <h2>FE Moldark is a site dedicated to documenting the recreation of Fire Emblem entirely in Python v2.7 and Pygame.</h2>

        <nav>
          <ul>
            <a href="/index" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>Home</h3></a>
	    <a href="/code" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>Code</h3></a>
            <a href="/features" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>Features</h3></a>
            <a href="/filestructure" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>File Structure</h3></a>
            
		 
	    <a href="/mapmaker" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>Map Maker</h3></a>
	    <a href="/history" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>History</h3></a>
            <a href="/about" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>About</h3></a>
	    <a href="/contact" style="display:inline-block; text-decoration:none; color:#00FFFF; margin-right:20px;"><h3>Contact</h3></a>
	  </ul>

	</nav>
		
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
