<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  <!-- background="/assets/final_bg2.png"--->
  <!--<style>
    p {
		background-image: url('/assets/final_bg2.png');
    }
  </style>--->
  </head>

  <body>

    <header>
      <style>
        body {
        }
      </style>
      
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>FE Moldark</h1> <!--{{ site.title | default: site.github.repository_name }}--->
        </a>
        <h2>FE Moldark is a site dedicated to documenting the recreation of Fire Emblem entirely in Python v2.7 and Pygame.</h2>

        <nav>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/history/">History</a></li>
            <li><a href="/filestructure/">File Structure</a></li>
            <li><a href="/mapmaker/">Map Maker App</a></li>
            <!--<li><a href="/raspberrypi/">Raspberry Pi</a></li>--->
            <li><a href="/features/">Features</a></li>
            <li><a href="/contact/">Contact</a></li>
		  </ul>
		</nav>
		
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
